{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>!AnimeTime!</title>
    <link rel="stylesheet" href="{%static 'css/style1.css'%}">

</head>
{% include "nav.html" %}
<body >
    
    
    




    {% block content %}

    ??Replace me??
    {% endblock %}

    {% block footer %}
    <footer>
        <h2>
            ANIMETIME
        </h2>
        <div>
            <ul>
                <li>facebook</li>
                <li>linkedin</li>
                <li>github</li>
            </ul>
        </div>
    </footer>
    {% endblock %}

    
</body>
</html>