{% load static %}
</form>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ANIMETIME|LOGIN</title>
    <link rel="stylesheet" href="{%static 'css/style1.css'%}">
</head>
<body class="login-body">
    
<div class="container">
    <h3>LOGIN</h3>
    <form class="login" method ='post'>
        {% csrf_token %}
        <!-- <div class="row">
            <div class="col25">
                <label for="username">USERNAME</label>
            </div>
            <div class="col75">
                <input type = "text" id="username" name = "username">
            </div>
        </div>
        <div class="row">
            <div class="col25">
                <label for="password">PASSWORD</label>
            </div>
            <div class="col75">
                <input type = "password" id="password" name = "username">
            </div>
        </div> -->
        <input type="text"  name ="username" placeholder="username">
        <input type="password" name ="password" placeholder="password">
        <div class="row">
            <button type="submit">Login</button>
        </div>
        or
        
        </form>

        <div class="row">
            <button><a href="{% url 'signup' %}">SignUp</a></button>
        </div>
        {% for message in messages %}
        {{message}}
        {% endfor %}
</div>
    
</body>
</html>