{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>nav</title>
    <link rel="stylesheet" type ="text/css" href="{%static 'css/style1.css'%}">
</head>
<body>
    <header class="main-header">
        <div>
            <nav class="nav main-nav">
                <ul>
                    <li><a href = "{%url 'anime_index'%}">INDEX</a></li>
                    <li><a href="{% url 'anime_create' %}">CREATE</a></li>
                </ul>
            </nav>
            <h1 class="main-title">ANIMETIME!</h1>
            
        </div>
        
    </header>

    
    
    
</body>
</html>